.TitleContainer {

    top: 74vh;
    right: 4vw;
    position: absolute;
    text-align: right;

    color: white;

    opacity: 0;
    transition: opacity 2.5s ease-in-out;
    z-index: 0;
}

.TitleContainer h1 {
    text-shadow: 3px 3px 4px rgba(97, 135, 240, 0.8);
}